.root {
    flex-grow: 0.5;
    justify-content: center;
}

.inventory {
    background-color: orange;
    color: black;
    width: 10%;
    height: 75%;
    max-height: 90%;
    border-width: 20px;
    justify-content: center;
}

.content .wider {
    width: 50%;
}

.content .unity-scroll-view__content-container {
    background-color: yellow;
    color: black;
    padding: 10px;
    max-width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
}

.button:hover {
    background-color: white;
    color: red;
}

